.container {
  margin: 24px 24px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 8px;
  background-color: white;
}

.title {
  margin: auto 12px;
}

.task-info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline {
  background-color: orange;
  border-radius: 4px;
  padding: 4px;
}

.new-task-form {
  margin-top: 16px;
  margin-bottom: 32px;
}

.form-control {
  margin-bottom: 8px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.form-control input {
  margin-left: 8px;
  height: 20px;
  width: 300px;
}

.btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.add-task-button {
  background-color: deepskyblue;
  color: white;
}

.add-task-button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.archive-completed-button {
  background-color: orange;
  color: black;
  margin-bottom: 12px;
}

.archive-completed-button:hover {
  background-color: darkorange;
  cursor: pointer;
}
