.container {
  margin: 24px 24px;
}

.task {
  margin-bottom: 12px;
}

.new-task-form {
  margin-top: 16px;
  margin-bottom: 32px;
}

.form-field {
  margin-right: 12px;
}

.tasks button {
  margin-bottom: 12px;
}

