.task {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 8px;
  background-color: white;
  margin-right: 12px;
}

.title {
  margin: auto 12px;
}

.task-info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline {
  background-color: orange;
  border-radius: 4px;
  padding: 4px;
}

.btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.delete-task-button {
  background-color: red;
  color: white;
}

.delete-task-button:hover {
  cursor: pointer;
  background-color: darkred;
}
