.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.router-outlet {
  margin-left: 16px;
  height: 100%;
}

footer {
  padding: 16px;
  background-color: lightgreen;
}

.header {
  justify-content: space-between;
}
