form {
  width: 400px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.form-row input {
  width: 250px;
}

form button {
  width: 80px;
  height: 30px;
  color: white;
  background-color: deepskyblue;
  border: none;
  border-radius: 8px;
}

form button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

#form-row-city {
  border-top: 1px solid black;
  padding-top: 8px;
}

